.so-widget-sow-slider-default-322f8c2b9886 .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-slider-default-322f8c2b9886 .sow-slider-base .sow-slide-nav {
  font-size: 20px;
}
.so-widget-sow-slider-default-322f8c2b9886 .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}