/*
Theme Name: Panaroma
Theme URI: https://www.sktthemes.org/themes/panaroma/
Author: SKT Themes
Author URI: https://www.sktthemes.org
Description: Panorama is a multipurpose responsive photography WordPress theme suitable for corporate, photoblogging, portfolio, business, ecommerce, personal, interior, author, church and has nice 5 different slides spanning the whole homepage. One can showcase whatever they want on the homepage and it looks like a visual treat. Homepage has nice animated effect. Panorama is usual on the inner pages with blog, pages, compatibility with plugins like WooCommerce, contact form 7 and others. Comes with 2 pages templates and other features. Background for the pages is manageable and comes with easy to use theme options panel. Demo link: http://sktthemesdemo.net/panoramapro/

Version: 1.5
License: GNU General Public License v2 or later
License URI: license.txt
Text Domain: panaroma
Tags: custom-background, two-columns, right-sidebar, left-sidebar, custom-menu, theme-options, threaded-comments, featured-images, editor-style, full-width-template

SKT Panaroma WordPress Theme has been created by SKT Themes(sktthemes.net), 2015.
SKT Panaroma WordPress Theme is released under the terms of GNU GPL

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	 margin:0;
	 padding:0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin-bottom:10px;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	color:#242424;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #86c301;
	text-decoration: none;
	color:#000;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #86c301;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 6px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
span.search-label {
	clip: rect(1px, 1px, 1px, 1px);
	display:block;
	color:#ffffff;
	position:inherit !important;
	margin-bottom:5px;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}
li.recentcomments a{ background:none !important;}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
.entry-meta{ margin-top:10px;}

/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	line-height:22px;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}


/* =Widgets
----------------------------------------------- */

.widget {
	margin: 37px 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}


/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/* This is the Default Theme File.
*  Please do not edit this. To make any 
*  changes, please use the theme options panel.
*/ 

/*Comments Section*/
#comments {
	margin: 30px 0;
}
#comments > ul {
	padding-left: 0px;
	margin-left: 0px;
}
.comment {
	padding: 10px;
	border-bottom: solid 1px #ccc;
	border-left: solid 1px #ccc;
}
h2.comments-title {
	text-transform: uppercase;
	font:400 22px 'Roboto Condensed', Arial; 
	color:#eeeded;
}
ol.comment-list {
	margin-top: 15px;
	list-style: none;
	margin-left: 0px;
}
li.comment .comment,
li.comment .pingback,
li.comment .trackback {
	list-style-type: none;
	margin-bottom: 12px;
	padding-bottom: 12px;
}

li.comment > .comment:last-child {
	border-bottom: 0;
	margin-bottom: 30px;
	padding-bottom: 0;
}

li.comment .children {
	padding-left: 5px;
}

li.comment .avatar {
	background-color: #fff;
	border: solid 1px #eeeeee;
	padding: 4px;
	height: auto;
	width: 100%;
	max-width: 60px;
	margin-bottom: -10px;
}

li.comment .byuser .avatar {
	border-color: #ccc;
}

li.comment .byuser .comment-author-name {
	color: #ef4832;
}

li.comment .comment-author {
	display: inline;
	float: left;
	margin-right: 20px;
	width: 60px;
	text-align: center;
}

li.comment .comment-author-name {
	color: #252525;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	line-height: 18px;
	margin-bottom: 12px;
}

li.comment .comment-timestamp {
	color: #999;
	font-size: 10px;
	text-align: right;
}

li.comment .comment-bullet {
	color: #ccc;
	font-size: 11px;
	margin: 0 2px;
}

li.comment .comment-content {
	font-size: 14px;
	overflow: hidden;
	padding-top: 5px;
}

li.comment .comment-edit-link {
	font-size: 11px;
	text-decoration: none;
	margin-left: 15px;
	color: #000;
}


.comment-awaiting-moderation {
	color: #999;
	font-style: italic;
}

li.comment .reply {
	margin-top: 10px;
	text-transform: lowercase;
}

li.comment .comment-reply-link {
	font-size: 11px;
	padding: 4px 10px;
	margin-left: 5px;
	margin-top: -10px;
}

/* Comment form */
.comment-respond {
	background-color: #000;
	padding: 30px;
}
.comment .comment-respond {
	margin-bottom: 20px;
	padding: 20px;
}
.comment-reply-title {
	font: 300 italic 28px "Source Sans Pro", Helvetica, sans-serif;
}

.comment-reply-title small a {
	color: #131310;
	display: inline-block;
	float: right;
	
	overflow: hidden;
}
.comment-reply-title small a:hover {
	color: #ed331c;
	text-decoration: none;
}

.sidebar .comment-list .comment-reply-title,
.sidebar .comment-list .comment-respond .comment-form {
	padding: 0;
}

.comment-form .comment-notes {
	margin-bottom: 15px;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
	margin-bottom: 8px;
}

.comment-form [for="author"],
.comment-form [for="email"],
.comment-form [for="url"],
.comment-form [for="comment"] {
	float: left;
	padding: 5px 0;
	width: 120px;
}

.comment-form .required {
	color: #ed331c;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	max-width: 270px;
	width: 60%;
}

.comment-form textarea {
	width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
	color: #686758;
	font-size: 12px;
}

.form-allowed-tags code {
	font-size: 10px;
	margin-left: 3px;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-top: 24px;
}

.comment-navigation {
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0 auto;
	max-width: 604px;
	padding: 20px 0 30px;
	width: 100%;
}

.no-comments {
	background-color: #f7f5e7;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 40px 0;
	text-align: center;
}
.sidebar .no-comments {
	padding-left: 60px;
	padding-right: 376px;
}

body.custom-background{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.top-bar{ width:100%; margin:0; padding:0; background:url(images/top-bg.jpg) repeat-x; height:5px;}

/* -------------- Strip --------- */

.strip_template body {
    padding: 0 !important;
    height: 100%;
}

.strip_template figure {
    margin: 0;
    overflow: hidden;
    height: 100%;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
	z-index:-1;
}

.strip_template figure a {
    display: block;
    width: 100%;
    height: 100%;
}

.strip_template figure section {
    float: left;
    height: 100%;
    display: inline-block;
    z-index: 13;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: width 300ms;
    -webkit-transition: width 300ms;
}

.strip_wrapper {
    overflow: auto;
    width: 100%;
    display: block;
    position: relative;
}

.strip_template figure.strip-menu-scroll {
    width: auto;
    position: relative;
    left: auto;
    top: auto;
}

.strip-menu-scroll section {
    transition: none;
    -webkit-transition: none;
}

.strip_template figure section .strip-text {
    text-align: right;
    position: relative;
    right: 0;
    bottom: 300px;
}

.strip-text div {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 118px;
    padding-left: 50px;
}

.strip_template figure.strip-menu-scroll section .strip-text {
    left: 0;
    bottom: 165px;
    width: 100%;
    text-align: center;
}

.strip-menu-scroll .strip-text div {
    width: 100%;
    padding: 0;
}

.strip_template figure.strip-menu-scroll section .strip-text h1 {
    font-size: 46px;
    line-height: 48px;
    padding: 0 15px;
    margin-bottom: 8px;
}

.strip_template figure.strip-menu-scroll section .strip-text h6 {
    padding: 0 15px;
}

.strip_template figure.strip-menu-scroll section .logo {
    margin-left: -70px;
    left: 50%;
    top: 88px;
}

.strip_template figure section .strip-text h1,
.strip_template figure section .strip-text h3,
.strip_template figure section .strip-text h6 {
    color: #ffffff;
    font-weight: 300;
	font-family:'Roboto Condensed',san-serif;
    text-transform: uppercase;
    opacity: 0;
    word-wrap: break-word;
    white-space: normal;
    transition: opacity 100ms;
    -webkit-transition: opacity 100ms;
	font-size:20px;
}

.strip_template figure section.hovered .strip-text h1,
.strip_template figure section.hovered .strip-text h3,
.strip_template figure section.hovered .strip-text h6,
.strip_template figure section:hover .strip-text h1,
.strip_template figure section:hover .strip-text h3,
.strip_template figure section:hover .strip-text h6 {
    transition: opacity 800ms;
    -webkit-transition: opacity 800ms;
}

.strip_template figure section.hovered .strip-text h1,
.strip_template figure section.hovered .strip-text h3,
.strip_template figure section.hovered .strip-text h6,
.strip_template figure section:hover .strip-text h1,
.strip_template figure section:hover .strip-text h3,
.strip_template figure section:hover .strip-text h6 {
    opacity: 0.999;
    z-index: 18;
}

.strip_template figure section .strip-text h1 {
    margin-bottom: -4px;
}

.strip_template figure section:hover,
.strip_template figure section.hovered {
    z-index: 15;
}

.strip_template figure section .logo {
    position: absolute;
    left: 117px;
    top: 134px;
    opacity: 0;
    transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
	text-transform:uppercase;
	font-weight:700;
	font-size:32px;
	font-family:'Roboto Condensed',san-serif;
}

.strip_template figure section:hover .logo,
.strip_template figure section.hovered .logo {
    opacity: 0.999;
}

.wrapped_link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 18;
}

.grid-port-item:hover .grid-port-fadder,
.strip_template figure section:hover .strip-fadder,
.strip_template figure section.hovered .strip-fadder,
.featured_items .img_block:hover .featured_item_fadder
{
		background-color:#ff6600;
		opacity:0.85;
}

.strip-fadder {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
	transition:background 250ms;
	-webkit-transition:background 250ms;
}
ul#demo-block{ margin:0 15px 15px 15px; }
ul#demo-block li{ margin:0 0 10px 0; padding:10px; display:inline; float:left; clear:both; color:#aaa; background:url(images/img/bg-black.png); font:11px Helvetica, Arial, sans-serif; }
ul#demo-block li a{ color:#eee; font-weight:bold; }